body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position:center;
    background-image: url("../Juego/Assets/img/fondoHTML.jpg");
}

#miCanvas { border: solid 2px #ccc;  width: 950px; height: 500px; background-image: url("../Juego/Assets/img/fondo.jpg");}

html, body {
    height: 100%;
    margin: 0;
}
#salto{
    color:white;
    font-size: 20px;
}
#botonReiniciar {
    display: none;
    text-align: center;
    font-size: 20px;
}
#botonMusica {
    font-size: 20px;
}

.contenedor-canvas {
    display: grid;
    place-items: center;
    height: 100vh;
}

#botonReinicio {
    margin-top: 15px;
    text-align: center;
}

#records {
    text-align: center;
}

#informacion p {
    display: inline;
    margin-right: 10px;
    font-size: 32px;
}

#mensajeFin {
    display: none;
    font-size: 20px;
    text-align: center;
}


#texto{
    color: white;
}