#miCanvas { border: solid 1px #ccc;  width: 900px; height: 450px;}

html, body {
    height: 100%;
    margin: 0;
}

.contenedor-canvas {
    display: grid;
    place-items: center;
    height: 100vh;
}

canvas {
    width: 900px;
    height: 450px;
}
